<template name="CreateTables">
    <div id="create-tables">

        <div class="container-fluid">
            <div class="row">

                <div class="col col-md-6 margin-auto">
                    <div class="container-form">
                        <h1>Upload a table</h1>
                        <div class="loadGS">


                            <br/>
                            <a href="#" class="btn
                                {{#if  t2dIsLoaded}}
                                    delete_T2D_tables btn-outline-danger
                                {{else}}
                                        load_T2D_tables btn-outline-primary
                                {{/if}}">
                                {{#if t2dIsLoaded}}Delete{{else}}Load{{/if}} T2D Gold Standard tables
                                {{#if isLoadingGS 'T2D'}}
                                    <div class="loading">
                                        <i class="fas fa-spinner fa-pulse"></i>
                                    </div>
                                {{/if}}
                            </a>

                            or

                            <a href="#" class="btn
                                {{#if limayeIsLoaded}}
                                    delete_limaye200_tables btn-outline-danger
                                {{else}}
                                    load_limaye200_tables btn-outline-primary
                                {{/if}}">
                                {{#if limayeIsLoaded}}Delete{{else}}Load{{/if}} Limaye200 Gold Standard tables
                                {{#if isLoadingGS 'Limaye200'}}
                                    <div class="loading">
                                        <i class="fas fa-spinner fa-pulse"></i>
                                    </div>
                                {{/if}}
                            </a>


                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>
</template>

<template name="controlfile">
    <div class="alert alert-success" role="alert">
        TABLE INSERT CORRECTLY
    </div>
</template>

<template name="updatefile">
    <div class="error-message">
        Insert correct file
    </div>
</template>
