.multiStep {
	margin-top: 20px;
	margin-bottom: 20px;
	list-style: none;
	padding:    0 0 20px;

}

.multiStep * {
	transition: all .2s;
}

.multiStep a {
	display: block;
}

.btn.next {
	border-radius: 0;
	font-size:     11px;
	padding:       2px 4px;
	z-index:       2;
	position:      absolute;
	top:           calc(50% - 10px);
	left:          50%;
	transform:     translate(-50%, -50%);
	border:        unset;
}

.multiStep .step-box {
	position: relative;
	width:    100%;
}

.multiStep .step-box:not(:first-child) {
	padding-top: 50px;
}

.multiStep .step-box:not(:first-child):before {
	content:          "";
	width:            2px;
	height:           100%;
	background-color: rgb(131, 143, 141);
	position:         absolute;
	top:              0;
	left:             50%;
	transform:        translateX(-50%);
	z-index:          1;
}

.multiStep .step {
	width:         20px;
	height:        20px;
	border:        2px solid rgb(131, 143, 141);
	background:    rgb(131, 143, 141);
	border-radius: 50%;
	position:      relative;
	text-align:    center;
	margin:        auto;
	z-index:       2;
	transition:    all .2s;
	overflow:      hidden;
}

.multiStep .step-box:last-child .step {
	border-radius: 0
}

.multiStep .phase {
	position:    absolute;
	top:         50%;
	left:        50%;
	transform:   translate(-50%, -50%);
	font-size:   14px;
	font-weight: bold;
	line-height: 1;
	color:       rgb(65, 64, 64);
}

.multiStep .text {
	display:        none;
	position:       absolute;
	bottom:         0;
	left:           20%;
	text-transform: uppercase;
	font-size:      12px;
	line-height:    1.2;
}

.multiStep .initialState {
	text-transform: uppercase;
	text-align:     center;
	font-size:      9px;
	margin-bottom:  5px;
}

.multiStep .initialState a {
	color: white;
}

.multiStep .initialState:hover a,
.multiStep .editAnn.enabled i:hover {
	color: #00a65a;
}

.multiStep .initialState a {
	text-decoration: none;
}

.multiStep .initialState.active a,
.multiStep .editAnn.enabled.active i {
	color: #00a65a;
}

.multiStep .editAnn {
	color:       rgb(131, 143, 141);
	text-align:  center;
	font-size:   16px;
	padding-top: 50px;
	position:    relative;
}

.multiStep .editAnn:before {
	content:   "";
	width:     2px;
	height:    100%;
	position:  absolute;
	top:       -20px;
	left:      50%;
	transform: translateX(-50%);
	z-index:   1;
}

.multiStep .editAnn.disabled:before {
	border-left: 2px dotted rgb(131, 143, 141);
}

.multiStep .editAnn.enabled:before {
	border-left: 2px dotted white;
}

.multiStep .editAnn.enabled.active:before {
	border-left: 2px dotted #00a65a;
}

.multiStep .editAnn.disabled a {
	cursor: not-allowed;
}

.multiStep .editAnn i {
	vertical-align: middle;
}

.multiStep .editAnn.disabled i {
	color: rgb(131, 143, 141);
}

.multiStep .editAnn.enabled i {
	color: white;
}

.multiStep .step-box.done .step {
	border:     3px solid #00a65a;
	background: white;
}

.multiStep .step-box.done .phase {
	display: none;
}

.multiStep .step-box.done .step:before {
	content:     "\f00c";
	font-family: "FontAwesome";
	font-size:   10px;
	color:       #00a65a;
	position:    absolute;
	top:         50%;
	left:        50%;
	transform:   translate(-50%, -50%);
}

.multiStep .step-box.todo a {
	cursor: not-allowed;
}

.multiStep .step-box.todo .btn.next {
	display: none;
}

.multiStep .initialState.active + .step-box.todo .btn.next,
.multiStep .step-box.done + .step-box.todo .btn.next {
	display: block;
}

.multiStep .btn.next[disabled] {
	opacity:    1;
	background: rgb(131, 143, 141);
	color:      rgb(65, 64, 64);
}

.multiStep .step-box.active .step {
	border:     2px solid #00a65a;
	background: #00a65a;
}

.multiStep .step-box.active .text {
	color: #00a65a;
}

.multiStep .step-box.active:before,
.multiStep .step-box.done:before,
.multiStep .step-box.doing:before {
	background: #00a65a;
}

.multiStep .step-box.done.active .step:before {
	color: white;
}

.multiStep .step-box.active .phase {
	color: white;
}

.multiStep .step-box.active.doing .phase {
	color: #00a65a;
}

.multiStep .step-box.doing .step {
	background: white;
	border:     2px solid #00a65a;
}

.multiStep .step-box.doing .step:before {
	content:    "";
	display:    block;
	width:      200%;
	height:     200%;
	top:        0;
	position:   absolute;
	background: #00a65a;
	animation:  load 4s infinite ease-in;
}

.multiStep .step-box.doing .phase {
	animation: changeColor 4s infinite linear;
}

/* sidebar expanded */

body:not(.sidebar-collapse) .multiStep .text {
	display: block;
}

body:not(.sidebar-collapse) .multiStep .step,
body:not(.sidebar-collapse) .multiStep .editAnn i {
	margin-left: 10%;
}

body:not(.sidebar-collapse) .multiStep .step-box:before,
body:not(.sidebar-collapse) .multiStep .editAnn:before {
	left: calc(10% + 10px);
}

body:not(.sidebar-collapse) .multiStep .initialState {
	font-size:   14px;
	text-align:  left;
	margin-left: calc(10% + 10px);
}

body:not(.sidebar-collapse) .multiStep .editAnn {
	text-align: left;
}

body:not(.sidebar-collapse) .multiStep .btn.next {
	left:      30%;
	font-size: 14px;
}

body:not(.sidebar-collapse) .multiStep .btn.next:after {
	content:     "\f0da";
	font-family: "FontAwesome";
	margin-left: 5px;
}

@keyframes pulse {
	from {
		transform: scale(1.2);
	}
	to {
		transform: scale(1);
	}
}

@keyframes load {
	from {
		height: 0;
	}
	to {
		height: 140%;
	}
}

@keyframes changeColor {
	100% {
		color: white;
	}
}