<template name="MultiStep">
    {{#if statusProcess}}
        <div class="multiStep">
            <div class="multiStepScrollbar">
            <div class="initialState {{isCurrentPage 'startingTable'}}">
                <a href="{{pathFor 'startingTable' data=getID}}">
                    Starting table
                </a>
            </div>

            {{#each statusProcess}}
                <div class="step-box {{status}} {{isCurrentPage routeName}}">

                    {{#if nextStepTodo}}
                        <div id="{{routeName}}" class="btn btn-primary next" title="Run next process">
                            NEXT
                        </div>
                    {{/if}}

                    <a href="{{pathFor routeName data=getID}}" title="{{process}}">
                        <div class="step">
                            <span class="phase">{{@index}}</span>
                        </div>
                        <span class="text">{{process}}</span>
                    </a>
                </div>
            {{/each}}

            <div class="editAnn {{isComplete}} {{isCurrentPage 'editAnnotations'}}">
                <a href="{{pathFor 'editAnnotations' data=getID}}" title="edit annotations">
                    <i class="fas fa-edit"></i>
                    <span class="text">Edit annotations</span>
                </a>
            </div>
        </div>
        </div>
    {{/if}}
</template>