#changelog h1 {
    text-align: center;
    margin-bottom: 30px;
}

#changelog #accordion {
    max-width: 700px;
    margin: auto;
}

#changelog #accordion .panel-heading{
    background: #e6e6e6;
}

#changelog #accordion .panel-title a {
    display: block;
    font-size: 20px;
}

#changelog #accordion .panel-title a:hover,
#changelog #accordion .panel-title a:active,
#changelog #accordion .panel-title a:focus {
    color: #00a65a;
}
#changelog a{
    color: #00a65a;
}
#changelog a:hover{
    color: #008643;
}
