.table-responsive {
    max-height: calc(100vh - 67px);
}

#list-table {
    background-color: white;
}

#list-table th {
    text-transform: uppercase;
    background-color: #f3f3f3;
    border-color: #CCC;
    text-align: center;
    vertical-align: top;
    padding: 4px;
}

#list-table th .btn-group {
    text-transform: initial;
    margin-top: 15px;
}

#list-table .status {
    display: block;
    font-size: 11px;
}

#list-table.table > tbody > tr > td {
    vertical-align: middle;

}

#list-table .globalStatus {
    width: 8px;
    max-width: 8px;
    min-width: 8px;
    padding: 0;
    border-right: 0;
}

#list-table .globalStatus + th {
    border-left: 0;
}

#list-table .table-name {
    max-width: 300px;
    min-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#list-table .table-gs {
    text-align: center;
    min-width: 150px;
}

#list-table .table-date {
    min-width: 120px;
}

#list-table .table-status {
    min-width: 195px;
}

#list-table .table-time {
    min-width: 150px;

}

#list-table .table-buttons {
    min-width: 200px;
}

#list-table td.table-count,
#list-table td.table-buttons {
    text-align: center;
}

#list-table td.table-date {
    font-size: 11px;
    color: #717171;
    text-align: center;
}

#list-table td.table-time {

    text-align: center;
    font-size: 20px;
}

#list-table .form-group {
    margin-bottom: 0;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#list-table .form-group.material label {
    background: #f3f3f3; /*background page color*/
}


/* color status */
#list-table .done,
.filter .done {
    background-color: #195d3d; /*#008d4c;*/
    color: white;
}

#list-table .doing,
.filter .doing {
    background-color: rgb(240, 189, 49);
}

#list-table .processing {
    background-color: rgb(240, 189, 49);
    animation: move 1.5s linear infinite;
    background-image: linear-gradient(45deg,
    rgba(255, 255, 255, .45) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .45) 50%,
    rgba(255, 255, 255, .45) 75%,
    transparent 75%,
    transparent);
    background-size: 40px 40px;
}

#list-table .todo,
.filter .todo {
    background-color: rgb(185, 185, 185);
}

#list-table .error {
    background-color: rgb(201, 9, 9);
}

@keyframes move {
    0% {
        background-position: 40px 0;
    }
    100% {
        background-position: 0 0;
    }
}

/*filter*/
#list-table .filter {
    border-radius: 3px;
}

#list-table .filter .btn {
    border: unset;
    cursor: pointer;
    width: 40px;
    height: 25px;
}

#list-table .filter .btn.all {
    background-color: white;
}

#list-table .filter .btn.active {
    position: relative;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.66);
}

#list-table .filter .btn:hover:after,
#list-table .filter .active:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
}

/*search*/
#list-table .search .btn-cancel {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #454b4f;
    font-size: 14px;
    display: none;
    cursor: pointer;
    z-index: 999;
}
#list-table .search input{
    padding-right: 30px;
}

    /*no tables template*/

.no-tables {
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

.no-tables .bigger-intro {
    font-size: 32px;
    color: #303538;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

.no-tables a:not(.btn) {
    color: #00a65a;
}

.no-tables a:not(.btn):hover {
    color: #008d4c;
}

.no-tables .btn {
    text-transform: uppercase;
    font-size: 18px;
    margin: 10px 0;
}


