<template name="listTables">

      <!--  {{>startedSuggestion}} -->
      {{#if hasTables}}
          {{>loadTables}}
      {{else}}
          {{>startedSuggestion}}
      {{/if}}

</template>

<template name="loadTables">

                        <div class="btn-group">
                            <a id="deletAll" class="btn btn-danger btn-sm"
                               data-toggle="modal" data-target="#modal-delete"
                            >
                                <i class="fa fa-trash"></i>
                                <span>Delete all</span>
                            </a>
                            <a id="processAll" class="btn btn-primary btn-sm">
                                <i class="fa fa-cogs"></i>
                                <span>Process all</span>
                            </a>

                        </div>
    {{>alertDelete}}
</template>

<template name="startedSuggestion">

    <div class="no-tables">
        <span class="bigger-intro">No tables loaded.</span>
        <span class="block">
            <div>
                {{#linkTo route='createTables' class="btn btn-primary"}}
                    uploading some tables
                {{/linkTo}}
            </div>
        </span>

    </div>

</template>

<template name="filter">
    <div class="filter-wrapper">
        <div class="filter btn-group btn-group-sm">
            <div class="btn todo"></div>
            <div class="btn doing"></div>
            <div class="btn done"></div>
        </div>
    </div>
</template>

<template name="alertDelete">
    <div class="modal modal-danger fade" id="modal-delete" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Do you really want to delete all tables?</h4>
                </div>
                <div class="modal-body">
                    <p>All data will be erased. This cannot be undone. Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" id="deleteAll" class="btn btn-outline pull-right" data-dismiss="modal">
                        Delete!
                    </button>
                </div>

            </div>
        </div>
    </div>
</template>
