<template name="masterLayout">

    {{#AdminLTE skin="green" fixed="true"}}


        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu tree">
                    <li class="treeview {{#if isCurrentRoute 'tablesList'}}active{{/if}}">
                        {{#linkTo route='tablesList'}}
                            <i class="fas fa-table"></i>
                            <span>List tables</span>
                        {{/linkTo}}
                    </li>

                    <li class="treeview {{#if isCurrentRoute 'createTables'}}active{{/if}}">
                        {{#linkTo route='createTables' id="work"}}
                            <i class="fas fa-plus"></i>
                            <span>Insert table</span>
                        {{/linkTo}}
                    </li>

                    <li class="treeview" data-toggle="modal" data-target="#previewModal">
                        <a href="#" id="download_ann_complete">
                            {{#if annotationIsNotComplete}}
                                <div class="fa-layers fa-fw">
                                    <i class="fas fa-download"></i>
                                </div>
                            {{else}}
                                <i class="fa fa-download"></i>
                            {{/if}}
                            <span>Download annotations</span>
                        </a>
                    </li>

                </ul>

                {{#if isCurrentPath 'process'}}
                    {{> MultiStep }}
                {{/if}}

                <!-- /.sidebar -->
            </section>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">

                {{> popup}}

                {{> yield }}

                {{#if error}}

                    <div id="error">
                        An error occurred while processing the request
                    </div>

                {{/if}}


            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <aside class="control-sidebar control-sidebar-light">
            <!-- Content of the sidebar goes here -->
            {{> sidebarRight}}

        </aside>
        <!-- The sidebar's background -->
        <!-- This div must placed right after the sidebar for it to work-->
        <div class="control-sidebar-bg"></div>

    {{/AdminLTE}}

    {{> jsPlugin}}


</template>

<template name="popup">
    <!-- Modal -->
    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{#if annotationIsNotComplete}}
                    <!-- <a id="download_ann" href="#"><button type="button" class="btn btn-primary">Download</button></a> -->
                    <button id="download_ann" type="button" class="btn btn-primary">
                        Download
                    </button>
                    {{else}}
                    <button id="download_ann" type="button" class="btn btn-primary">
                        Download
                    </button>
                    {{/if}}
                </div>

            </div>
        </div>
    </div>
</template>

<template name="jsPlugin">
    <!--google chart-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!--slim scroll-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
    <style type="text/css">
      .modal-backdrop {display:none;}
    </style>
</template>
