/*****************************************************************************/

/* displayHot: Style */

/*****************************************************************************/
#HOT th {
    font-weight: bold;
    font-size: 14px;
    /*text-align: left !important;*/
}

#HOT .colHeader {
    padding: 0 5px;
    width: 100%;
}

#HOT .colHeader.columnSorting::before {
    left: 0;
    right: unset;
}

#HOT td {
    /*min-width: 180px;*/
    max-width: 400px;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .2s;

}

#HOT td:hover {
    background: rgba(0, 141, 76, .1) !important;
}

#HOT .icon-type {
    font-size: 14px;
    color: #63666c;
    /*margin-left: 5px;*/
    margin-right: 5px;
}

#HOT .show-more {
    font-size: 16px;
    color: #ffffff;
    background: #222d32;
    padding: 2px;
    border-radius: 3px;
    font-size: 11px;
    line-height: 1;
    /*vertical-align: text-bottom;*/
    margin-left: 8px;
}

#HOT .legend {
    font-size: 12px;
    margin-left: 25px;
}

#HOT .legend.s {
    color: #67429a;
}

#HOT .legend.ne {
    color: #20799f;
}

#HOT .legend.l {
    color: #577b16;
}

#HOT .legend.na {
    color: #63666c;
}

#divComment{
    height: auto;
    min-height: 90px;
}

#divComment .readMore {
    margin-top: 8px;
    display: block;
    font-size: 11px;
    color: #008d4c;
}


