#home {
    background: #00a65a;
}

#home:before {
    /*z-index: -1;*/
}

#home .header {
    background-color: #00a65a;
    text-align: center;
    padding: 20px 20px 100px;
    position: relative;
}

#home:before,
#home .header:before,
#home .footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/img/background.jpg");
    width: 100%;
    height: 100%;
    opacity: 0.03;
}


#home .wrapper {
    z-index: 1;
    position: relative;
}

#home .logo {
    max-width: 90px;
}

#home .subhead,
#home .title {
    color: white;
    line-height: 1;
    text-transform: uppercase;

}


#home .subhead {
    font-size: 24px;
    position: relative;
    padding-bottom: 20px;
}

#home .title {
    font-size: 80px;
    margin: 0;
}

#home .subhead:after {
    content: '';
    position: absolute;
    width: 10%;
    max-width: 200px;
    height: 6px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 9;

}


#home .preview {
    max-width: 600px;
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, .4);
    border-radius: 3px;
    margin: -7% auto 0;
    position: relative;
    z-index: 1;
}

#home .preview img {
    max-width: 100%;
    border-radius: inherit;

}

#home .btn {
    font-size: 18px;
    margin: 40px 0 0;
    border: 2px solid white;
    color: white;
    position: relative;
    transition: all .2s;
    z-index: 1;
}

#home .btn:before,
#home .btn:after {
    content: "";
    background: white;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    transition: all .2s;

}

#home .btn:before {
    left: 0;
}

#home .btn:after {
    right: 0;
}

#home .btn:hover {
    color: #00a65a;
}

#home .btn:hover:before,
#home .btn:hover:after {
    width: 55%;
    z-index: -1;
}

#home .features .btn:hover {
    color: #222D32;
}

#home .features {
    /*background: #222D32;*/
    padding: 20px 0;
    color: white;
    position: relative;
    font-size: 24px;
    text-align: center;
}

#home .features:before {
    position: absolute;
    content: "";
    background: linear-gradient(-184deg, rgba(34, 45, 50, 0) 24%, #222d32 0, #222d32);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


#home .features .grid-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

#home .features .grid-3 .feature {
    width: calc((100% / 3) - 60px);
    margin: 30px;
}


#home .feature {
    margin: 20px auto;
}


#home .feature .btn {
    font-size: 30px;
}

#home .feature-title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.1;
    margin-bottom: 10px;
}

#home .feature-title strong {
    font-size: 28px;
}

#home .feature-description {
    font-size: 18px;
    font-weight: 300;
}

#home .footer {
    border-top: 2px solid #00a65a;
    /*margin-top: 30px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    position: relative;
    background: white;
}


#home .footer .flex {
    align-items: flex-start;
}


#home .footer .unimib .lab .title {
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    color: black;
    display: block;
}

#home .footer .unimib .lab .text {

    display: block;
}


#home .footer a {
    color: black;
    text-decoration: none;
}

#home .footer .unimib .disco {
    max-width: 95px;
    margin-right: 15px;
}

#home .footer .unimib .disco a {
    display: block;
}

#home .footer .bitbucket {
    align-items: center;
    position: relative;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
}

#home .footer .bitbucket:before {
    content: "";
    width: 20%;
    height: 1px;
    background: #6b6b6b;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

#home .footer .bitbucket .logo-sm {
    max-width: 15px;
    display: inline-block;
}

#home .footer .bitbucket .text {
    font-weight: 400;
    vertical-align: middle;
    font-size: 14px;
    color: #0b4ead;
}