
.entityLinking td{
    padding:4px;
}
.entityLinking a{
    color:#00a65a;
    display: block;
    font-size:90%;

}
.entityLinking a:hover,
.entityLinking a:visited{
    color: #008d4c;
}