<template name="Loading">
    <!--<h1>Loading...</h1>-->
    <div class="loading">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span>Loading...</span>
    </div>

</template>
