/*****************************************************************************/

/* tableStatus: Style */

/*****************************************************************************/
/*modal-status*/
#modal-status .modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(84, 84, 84, .7);
    top: 0;
    left: 0;
    z-index: 999;
}

#modal-status .modal-content {
    position: absolute;
    top: calc(50% - 50px);
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    min-width: 300px;
    min-height: 200px;
    font-size: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #6b6b6b;
}

#modal-status i{
    margin-right: 10px;
 }
