<template name="tableStatus">
    <div id="modal-status">
        <div class="modal-overlay">
            <div class="modal-content">

                {{#if isEqual processStatus 'doing'}}
                    <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
                    Processing...
                {{/if}}

                {{#if isEqual processStatus 'todo'}}
                    This table has not been processed yet.
                    <br/>
                    Please go back.
                {{/if}}

                {{#if isCurrentRoute 'tablesList'}}
                    <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
                    Processing <br>
                    your request...
                {{/if}}

            </div>
        </div>
    </div>
</template>