/*****************************************************************************/

/* main: Style */

/*****************************************************************************/

/* colors */

/* 
@primary-color: #00a65a; 
@primary-color-darker: #008d4c;

@secondary-color:#222d32;
@secondary-color-darker:#11181b; 
*/
body {
    font-family: 'Roboto', sans-serif;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.text-small {
    font-size: 70%;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.flex.align-center {
    justify-content: center;
    align-items: center;
}

.flex.align-middle {
    align-items: center;
}

.spacer {
    margin-top: 16px !important;
}

.margin-auto {
    margin: 0 auto;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.red {
    color: red;
}

img {
    max-width: 100%;
}


/* button */
.btn {
    transition: background .2s;
}

.btn.btn-primary {
    background-color: #00a65a;
    border-color: #008d4c;
}

.btn.btn-primary:hover {
    background-color: #008d4c;
}

.btn.btn-secondary {
    color: white;
    background-color: #1c292e;
}

.btn.btn-secondary:hover {
    background-color: #11181b;
}

.btn.btn-outline-primary {
    background: transparent;
    border: 1px solid #00a65a;
    color: #00a65a;
}

.btn.btn-outline-primary:hover {
    border-color: #008d4c;
    color: #008d4c;
}

.btn.btn-outline-danger {
    background: transparent;
    border: 1px solid #dd4b39;
    color: #dd4b39;
}

.btn.btn-outline-danger:hover {
    border-color: #d73925;
    color: #d73925;
}

.btn.alert-danger {
    border-color: #dd4b39;
}

.btn.disabled {
    cursor: not-allowed !important;
    pointer-events: auto !important;
}

.btn .action {
    font-size: 14px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
}

.btn .process {
    font-size: 12px;
    display: block;
}

.btn.tiny {
    padding: 2px 15px;
    vertical-align: text-bottom;
}

.btn:active {
    box-shadow: unset !important;
}

/*form*/

.form-group.material {
    position: relative;
    margin: 15px 0 35px;
}

.form-group.material * {
    transition: all .2s;
}

.form-group.material input:not([type="file"]),
.form-group.material select,
.form-group.material.file {
    height: 56px;
    padding: 0 12px;
    color: #797979;
    background: transparent;
    box-shadow: unset;
    border: 1px solid #80868b;
    border-radius: 4px !important;
    caret-color: #008d4c;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    z-index: 1;
    position: relative;
    font-weight: normal;
}

.form-group.material label,
.form-group.material .prefix {
    font-size: 16px;
    color: #80868b;
    font-weight: normal;
    left: 8px; /*12-4*/
    margin: 0;
    position: absolute;
    top: 16px;
    padding: 0 4px;
    text-transform: initial;
}

.form-group.material label {
    background: #ecf0f5; /*background page color*/
}

.form-group.material .prefix {
    display: none;
    line-height: 24px
}

.form-group.material input:focus + label + .prefix,
.form-group.material input:valid + label + .prefix {
    display: block;
}

.form-group.material input:focus,
.form-group.material select:focus {
    border: 2px solid #008d4c !important;
    outline: unset;

}

.form-group.material input:focus + label,
.form-group.material input:valid + label,
.form-group.material select:focus + label,
.form-group.material select:valid + label,
.form-group.material.file input[type="file"] + label,
.form-group.material.disabled input + label {
    font-size: 12px;
    top: -8px;

    z-index: 2;
}

.form-group.material input:focus,
.form-group.material input:valid + label,
.form-group.material input:focus ~ .prefix,
.form-group.material select:focus,
.form-group.material select:valid + label {
    color: #212121;
}

.form-group.material input:focus + label,
.form-group.material select:focus + label {
    color: #008d4c;
}

.form-group.material select option {
    font-size: 16px;
    color: #80868b;
    padding: 20px;
}

.form-group.material select option.first {
    display: none;
}

.form-group.material select {
    /*remove dropdown arrow*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px;
}

.form-group.material.dropdown:after {
    content: '\f0d7';
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    top: 16px;
    color: #323232;
    font-size: 16px;
}

.form-group.material.file {
    display: flex;
    align-items: center;
}

.form-group.material.file input {
    width: 100%;
    position: relative;
    bottom: -5px;
}

.form-group.material.error input:not([type="file"]),
.form-group.material.file.error {
    border-color: #b00020;
}

.form-group.material.error label {
    color: #b00020 !important;
}

.form-group.material .error-message {
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    color: #b00020;
    left: 8px; /*12-4*/
}

.form-group.material.disabled {
    opacity: .7;
}

.form-group.material.disabled input {
    cursor: default;
}


.form-group.material.condensed input:not([type="file"]),
.form-group.material.condensed select,
.form-group.material.condensed.file {
    height: 35px;
    font-size: 14px;
}

.form-group.material.condensed label,
.form-group.material.condensed .prefix {
    font-size: 14px;
    top: 8px;
}

.form-group.material.condensed.dropdown:after {
    top: 8px;
}