#HOT .currentClicked {
    background-color: rgba(0, 166, 90, 0.1) !important;
    color:            #00a65a;
}

#HOT .opacity-low {
    opacity: .3;
}

/*infoBox*/
#infoBox {
    /*display: none;*/
    font-size:  13px;
    max-height: calc(100vh - 50px - 7px);
    /*overflow-y: auto;*/
    overflow-x: hidden;
    padding:    8px;
}

#infoBox a {
    color: #00a65a;
}

#infoBox a:hover {
    color: #008d4c;
}

#infoBox a.noLink {
    color:  black;
    cursor: default;
}

#infoBox a.noLink:hover {
    text-decoration: unset;
}

#infoBox p,
#infoBox ul {
    font-size: inherit;
}

#infoBox .big {
    font-size: 16px;
}

#infoBox .bigger {
    font-size: 24px;
}

#infoBox .flex-box {
    display: flex;

}

#infoBox .flex-box.center {
    display:         flex;
    justify-content: center;
}

#infoBox .key {
    color: #63666c;
}

#infoBox .value {
    font-weight: bold;
}

#infoBox .form-group.material label {
    background: white; /*background page color*/
}

/*common*/
#infoBox .title {
    font-size:     20px;
    padding-right: 16px;
    white-space:   nowrap;
    text-overflow: ellipsis;
    overflow:      hidden;
}

#infoBox .typeCol {
    font-size: 15px;
}

#infoBox .coords {
    margin: 8px 0;
}

#infoBox .coord {
    margin-right: 6px;
}


#infoBox .stepProcess {
    background-color: #11181b;
    color:            white;
    text-transform:   uppercase;
    padding:          4px 15px 4px 8px;
    margin-left:      -8px;
    margin-bottom:    15px;
    margin-top:       20px;
    display:          inline-block;
    position:         relative;
    max-width:        90%;
    width:            90%;
    height:           30px;
    line-height:      22px;

}

#infoBox .stepProcess span {
    display:       block;

    white-space:   nowrap;
    overflow:      hidden;
    text-overflow: ellipsis;
}

#infoBox .stepProcess:after {
    content:      "";
    display:      block;
    position:     absolute;
    left:         100%;
    top:          0;
    width:        0;
    height:       0;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #11181b;
}

/*data preparations*/
#infoBox .transfromations > div {
    margin-bottom: 20px;
}

/*column analysis*/
#infoBox .literalMatch {
    border-right: 1px solid #222d32;
    padding:      0 20px;
    text-align:   center;
}

#infoBox .literalMatch:last-child {
    border-right: unset;

}

#infoBox .subject-detection {
    margin-top: 20px;
}

#infoBox .subject-detection .step {
    background:    #d6d6d6;
    font-size:     14px;
    margin-bottom: 4px;
    font-size:     14px;
    padding:       2px 5px
}

#infoBox .subject-detection ul {
    text-align: left;
}

#infoBox .subject-detection li {
    margin-bottom: 6px;
}

#infoBox .subject-detection .score {
    border-top: 1px solid #222d32;
    text-align: center;
    padding:    10px 0;
    margin-top: 10px;
}

#infoBox .subject-detection .score .value {
    font-size: 24px;
    display:   block;
}

#infoBox .subject-detection .indent {
    display:     block;
    margin-left: 20px;
    font-size:   85%;
    color:       #86898f;
}


/*concept and datatype annotation*/
#infoBox .syn {
    margin-bottom: 20px;
}

#infoBox .entity {
    display: table-row;
}

#infoBox .tab-content {
    background: #f9fafc;
    padding:    2px 5px;
}

#infoBox .nav-tabs li {
    white-space:   nowrap;
    overflow:      hidden;
    text-overflow: ellipsis;
}

#infoBox .nav-tabs li:not(.active) {
    opacity: .7;
}

#infoBox .nav-tabs a {
    color:          #222d32;
    text-transform: uppercase;
    font-size:      12px;
    border:         none;
    font-weight:    bold;
}

#infoBox .entity .index {
    font-size:      16px;
    vertical-align: middle;
    line-height:    1;
    align-self:     center;
    padding-right:  6px;
    display:        table-cell;
    white-space:    nowrap;

}

#infoBox .entity .index i {
    font-size:      12px;
    vertical-align: middle;
}

#infoBox .entity .resource {
    display:     table-cell;
    padding:     10px 0;
    line-height: 1.2;
}

#infoBox .entity a {
    max-width:     270px;
    overflow:      hidden;
    white-space:   nowrap;
    text-overflow: ellipsis;
    display:       inline-block;

}

#infoBox .abstract {
    margin-bottom: 10px;
    padding:       6px 0;
}

#infoBox .abstract.collapsed .text {
    max-height: 100px;
    overflow:   hidden;
    position:   relative;
    transition: all .2s;
}

#infoBox .abstract .read-more {
    width:        100%;
    color:        #11181b;
    border-color: #11181b;
    margin-top:   5px;
    font-size:    12px;
    padding:      2px;
    display:      none;
}

#infoBox .abstract.collapsed .text:after {
    content:    "";
    display:    block;
    position:   absolute;
    top:        0;
    left:       0;
    width:      100%;
    height:     100%;
    z-index:    1;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 50%, rgba(249, 250, 252, 1) 95%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 50%, rgba(249, 250, 252, 1) 95%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(249, 250, 252, 1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

#infoBox .abstract.collapsed .read-more {
    display: block;
}


/*relationships annotation*/
#infoBox .relationshipsTable {
    margin-bottom: 50px;
}

#infoBox .relationshipsTable th {
    background: #d6d6d6;
}

#infoBox .relationshipsTable th,
#infoBox .relationshipsTable td {
    text-align:     center;
    vertical-align: middle;
}

#infoBox .relationshipsTable td {
    font-size: 14px;
    max-width: calc((350px / 3) - 16px); /*8+8 padding */
    border:    1px solid #ddd;
}

#infoBox .relationshipsTable .td-content a {
    display:       block;
    overflow:      hidden;
    text-overflow: ellipsis;
}

#infoBox .relationshipsTable .colName {
    font-style: italic;
    display:    block;
    font-size:  12px;
}


/*edit annotation*/

#infoBox .edit-annotations table tr.opacity-low {
    opacity: 0.3;
}

#infoBox .edit-annotations table td {
    font-size: 12px;
    position:  relative;
}

#infoBox .edit-annotations table .empty {
    background-color: transparent;
}

#infoBox .edit-annotations table .btn.edit {
    color:      #11181b;
    font-size:  20px;
    cursor:     pointer;
    display:    block;
    transition: all .2s;
    padding:    0;
}

#infoBox .edit-annotations table .btn.edit:not(.disabled):hover {
    color: #3c4245;
}

#infoBox .edit-annotations table .td-edit {
    position:         absolute;
    bottom:           -6px;
    left:             50%;
    transform:        translate(-50%, 50%);
    font-size:        12px;
    display:          none;
    cursor:           pointer;
    z-index:          1;
    background-color: white;
    padding:          0 6px 6px;
}

#infoBox .edit-annotations table .edit-mode .td-edit {
    display: block;
}

#infoBox .edit-annotations table .edit-mode .td-edit.active {
    color: #008d4c;
}

#infoBox .edit-annotations .edit-form {
    text-align: left;
}

#infoBox .edit-annotations .edit-form .blockTitle {
    background:    #d6d6d6;
    font-size:     14px;
    margin-bottom: 20px;
    font-size:     14px;
    padding:       2px 5px
}

#infoBox .edit-annotations .hints {
    margin-bottom: 20px;
}

#infoBox .edit-annotations .hints a.underline {
    color:           #5e5e5e;
    text-decoration: underline;
}

#infoBox .edit-annotations .hints .complementary {
    padding-left:  10px;
    color:         #7f7f7f;
    margin-bottom: 6px;
    font-style:    italic;
}

#infoBox .edit-annotations .hints .complementary span {
    margin-right: 10px;
}

#infoBox .edit-annotations .hints .complementary .active {
    color: #11181b;
}

#infoBox .edit-annotations .hints .complementary i {
    font-size:    9px;
    margin-right: 2px;
}

#infoBox .edit-annotations .hint {
    padding:       2px 15px;
    display:       inline-block;
    position:      relative;
    background:    #e6e6e6;
    border-radius: 2px;
    margin:        2px;
}

#infoBox .edit-annotations .hint,
#infoBox .edit-annotations .hint * {
    transition: all .2s;
}

#infoBox .edit-annotations .hint a {
    display: inline-block;
}

#infoBox .edit-annotations .hint .text-small {
    font-size: 95%;
}

#infoBox .edit-annotations .hint .use-hint {
    opacity:     0;
    color:       #11181b;
    font-size:   14px;
    line-height: 1;
    /*opacity:     0;*/
    position:    absolute;
    right:       20px;
    top:         50%;
    transform:   translateY(-50%);
    cursor:      pointer;

}

#infoBox .edit-annotations .hint:hover .slide {
    /*padding-right: 30px;*/
    transform: translateX(-10px);
}

#infoBox .edit-annotations .hint:hover .use-hint {
    display: inline-block;
    opacity: 1;
    right:   5px;
}

#infoBox .edit-annotations .hiddenRow,
#infoBox .edit-annotations .edit-panel {
    display: none;
}

#infoBox .edit-annotations .submit-form {
    overflow: hidden;
}

#infoBox .edit-annotations .submit-form span:after {
    content:     "\f00c";
    font-family: FontAwesome;
    position:    absolute;
    right:       -50px;
    transition:  all .2s;
}

#infoBox .edit-annotations .submit-form.click span:after {
    right: -20px;
}

#infoBox .edit-annotations .submit-form span {
    position:         relative;
    transform:        translateX(0);
    transition:       all .2s;
    transition-delay: .1s;
    display:          block;
}

#infoBox .edit-annotations .submit-form.click span {
    transform: translateX(-10px);
}

#infoBox .edit-annotations ul.autocomplete {
    position:         absolute;
    background-color: white;
    border:           1px solid #6b6b6b;
    font-size:        14px;
    width:            100%;
    margin-top:       2px;
    z-index:          9;
    box-shadow:       1px 1px 6px 0 #6b6b6b;
    display:          none;
}

#infoBox .edit-annotations ul.autocomplete li {
    padding: 5px;
    cursor:  pointer;
}

#infoBox .edit-annotations input:focus ~ ul.autocomplete.isVisible,
#infoBox .edit-annotations ul.autocomplete.focus {
    display: block;
}

#infoBox .edit-annotations ul.autocomplete li:hover {
    background-color: #eaeaea;
}

#infoBox .edit-annotations ul.autocomplete li.active {
    background-color: #008d4c;
    color:            white;
}


/*edit table info*/
#infoBox .edit-table .delete-table {
    margin: 50px 0 30px;
}

/*override adminLTE setup*/
.control-sidebar-light + .control-sidebar-bg,
.control-sidebar-light {
    background: #ffffff !important;
}

.control-sidebar-bg,
.control-sidebar {
    right: -350px !important;
    width: 350px !important;

}

.control-sidebar-open .control-sidebar-bg,
.control-sidebar-open .control-sidebar {
    right: 0 !important;
}

.control-sidebar-open .content-wrapper,
.control-sidebar-open .right-side,
.control-sidebar-open .main-footer {
    margin-right: 350px !important;
}