<template name="sidebarRight">

    <div id="infoBox">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{#with currentCellClicked}}

            {{> tableGeneralInfo}}

            <div class="stepProcess"><span>{{step}}</span></div>

<!--            {{#if isCurrentRoute 'preProcessing'}}-->
<!--                {{> dataPreparationSidebar}}-->
<!--            {{/if}}-->

            {{#if isCurrentRoute 'columnsAnalysis'}}
                {{> columnsAnalysisSidebar}}
            {{/if}}

            {{#if isCurrentRoute 'conceptDatatypeAnnotation'}}
                {{> conceptDatatypeAnnotationSidebar}}
            {{/if}}

            {{#if isCurrentRoute 'relationshipsAnnotation'}}
                {{> relationshipsAnnotationSidebar}}
            {{/if}}

            {{#if isCurrentRoute 'entityLinking'}}
                {{> relationshipsAnnotationSidebar}}
            {{/if}}

        {{/with}}

        {{#if isCurrentRoute 'editAnnotations'}}
            {{> editAnnotationsSidebar}}
        {{/if}}

        {{#if isCurrentRoute 'editTable'}}
            {{> editTableInfoSidebar}}
        {{/if}}

    </div>

</template>

<template name="tableGeneralInfo">

    <p class="title" title="{{cellTitle}}">{{cellTitle}}</p>

    {{#unless isHeader}}
        <div class="coords">
            <div>
                <span class="key">Column header:</span>
                <span class="value">{{cellHeader}} </span>
            </div>
            <div class="flex-box">
                <div class="coord">
                    <span class="key">Row index (no sorted):</span>
                    <span class="value">{{clickedRow}} </span>
                </div>
                <div class="coord">
                    <span class="key">Column index:</span>
                    <span class="value">{{clickedCol}} </span>
                </div>

            </div>
        </div>
    {{/unless}}

</template>

<template name="dataPreparationSidebar">

    <div class="transfromations">

        <div>
            <span class="bold block">
                Initial cell value:
            </span>
            <span class="italic">{{cellContent.value_old}}</span>
        </div>

        {{#if transformations}}
            <div>
                <div class="bold big">Transformations</div>
                <ul>
                    {{#each transformations}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        {{/if }}

        <div>
            <span class="bold block">
                Value after normalization:
            </span>
            <span class="italic">{{cellContent.value}}</span>
        </div>

    </div>

</template>

<template name="columnsAnalysisSidebar">

    {{#if isHeader}}
        <p class="typeCol">
            <span class="key">Column type:</span>
            <span class="value">{{typeCol}}</span>
        </p>

        {{#if isLiteral}}
            {{>pieChart}}
        {{/if}}

        {{#if isNE}}
            <div class="subject-detection ">
                <p class="step bigger">
                    <span class="value">Subject Column Detection</span>
                </p>
                {{#with NeInfo}}
                    <ul class="list-unstyled">
                        <li>
                            <span class="key">Fraction of empty cell:</span>
                            <span class="value">{{emc}}</span>
                            <span class="indent"> <span class="bold">{{column.emptyCells}}</span> empty cells /
                            <span class="bold">{{column.totalRow}}</span> total cells</span>
                        </li>
                        <li>
                            <span class="key">Fraction of cell with unique content: </span>
                            <span class="value">{{uc}}</span>
                        </li>

                        <li>
                            <span class="key">Distance from the first NE-column:</span>
                            <span class="value">{{df}}</span>
                        </li>
                        <li>
                            <span class="key">Average number of words:</span>
                            <span class="value">{{aw}}</span>
                        </li>
                        <li>
                            <span class="key"> Web search score:</span>
                            <span class="value">{{ws}}</span>
                        </li>
                    </ul>

                    <ul class="list-unstyled spacer">
                        <li class="bold">
                            Normalized values
                        </li>
                        <li>
                            <span class="key">Fraction of empty cell:</span>
                            <span class="value">{{emcNorm}}</span>
                        </li>
                        <li>
                            <span class="key">Fraction of cell with unique content: </span>
                            <span class="value">{{ucNorm}}</span>
                        </li>
                        <li>
                            <span class="key">Distance from the first NE-column:</span>
                            <span class="value">{{dfFinal}}</span>
                        </li>
                        <li>
                            <span class="key">Average number of words:</span>
                            <span class="value">{{awFinal}}</span>
                        </li>
                        <li>
                            <span class="key">Web search score:</span>
                            <span class="value">{{wsNorm}}</span>
                        </li>
                    </ul>

                    <div class="score">
                        <span class="value bigger block"> {{finalScore}} </span>
                        <span class="key block"> Final score</span>
                        {{#if isSubject}}
                            <i class="fa fa-check text-green"></i>
                        {{else}}
                            <i class="fa fa-times text-red"></i>
                        {{/if}}
                    </div>
                {{/with}}

            </div>
        {{/if}}

    {{else}}

        {{>dataPreparationSidebar}}

    {{/if}}



</template>

<template name="pieChart">

    <div id="chart_div"></div>

</template>

<template name="conceptDatatypeAnnotationSidebar">

    {{#if isHeader}}

        {{#if synonyms}}
            <div class="syn">
                <span class="value">Synonyms:</span>
                <span class="key">{{synonyms}}</span>
            </div>
        {{/if}}

        {{#each winningConceptOrDatatype}}
            <div>
                <span class="key">{{type}}:</span>
                <span class="value big">
                    <a target="_blank" title={{uri}} href="{{uri}}">
                        {{title}}
                    </a>
                </span>
            </div>
        {{/each}}

    {{else}}

        {{#if orArray entities concepts}}
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">

                <li class="active">
                    <a href="#entities" data-toggle="tab">
                        Candidate entities
                    </a>
                </li>

                <li>
                    <a href="#concepts" data-toggle="tab">
                        Candidate concepts
                    </a>
                </li>

            </ul>

            <div class="tab-content">
                <div id="entities" class="tab-pane tab-pane active">
                    {{#if entities}}
                        <div>
                            <div class="entities">
                                {{#if abstract}}
                                    <div class="abstract">
                                        <div class="text">
                                            <span class="bold block">Abstract </span>
                                            {{abstract}}
                                        </div>
                                        <div class="read-more btn  btn-outline">Show more</div>
                                    </div>
                                {{/if}}

                                {{#each entities}}
                                    <div class="entity">
                                        <div class="index">
                                            {{#if isWinning}}
                                                <i class="fa fa-check text-green"></i>
                                            {{else}}
                                                <i class="fa fa-times text-red"></i>
                                            {{/if}}

                                            {{offset @index}}
                                        </div>

                                        <div class="resource">
                                            <a target="_blank" href=" {{uri}}" title="{{uri}}">
                                                {{name}}
                                            </a>

                                            <div class="block">
                                                <div>
                                                    <span class="key">Score EN:</span>
                                                    <span class="value">
                                                        {{scoreEN}}
                                                    </span>
                                                </div>

                                                <div>
                                                    <span class="key">Score EC:</span>
                                                    <span class="value">
                                                        {{scoreEC}}
                                                    </span>
                                                </div>

                                                <div>
                                                    <span class="key">Final score:</span>
                                                    <span class="value">
                                                        {{finalScore}}
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    {{else}}
                        <p class="spacer">No entities found</p>
                    {{/if}}
                </div>
                <div id="concepts" class="tab-pane">
                    {{#if concepts}}
                        <div>
                            <div class="entities">
                                {{#each concepts}}
                                    <div class="entity">

                                        <div class="index">
                                            {{#if isWinning}}
                                                <i class="fa fa-check text-green"></i>
                                            {{else}}
                                                <i class="fa fa-times text-red"></i>
                                            {{/if}}

                                            {{offset @index}}
                                        </div>

                                        <div class="resource">

                                        <span class="value">
                                            <a target="_blank" href="http://dbpedia.org/ontology/{{name}}"
                                               title="{{name}}">
                                                {{name}}
                                            </a>
                                        </span>

                                            <div class="score-inline">
                                                <span class="key">Score:</span>
                                                <span class="value">
                                                    {{finalScore}}
                                                </span>
                                            </div>

                                        </div>

                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    {{else}}
                        <p class="spacer">No concepts found</p>
                    {{/if}}
                </div>
            </div>
        {{/if}}

    {{/if}}

</template>

<template name="relationshipsAnnotationSidebar">
    <table class="relationshipsTable table table-bordered table-hover {{#if isSubject}}highlightCol{{/if}}">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Predicate</th>
            <th>Object</th>
        </tr>
        </thead>

        <tbody>
        {{#each relationship}}

            <tr data-col="{{currentCol}}">
                <td>
                    <div class="td-content">
                        <span class="colName">{{subject.col}}</span>

                        <a target="_blank" title="{{subject.uri}}" href=" {{subject.uri}}">
                            {{subject.type}}
                        </a>
                    </div>
                </td>
                <td>
                    <div class="td-content">
                        <a target="_blank" title="{{predicate.uri}}" href=" {{predicate.uri}}">
                            {{predicate.type}}
                        </a>

                    </div>
                </td>
                <td>
                    <div class="td-content">
                        <span class="colName"> {{object.col}}</span>

                        {{#each object.type}}
                            <a target="_blank" title="{{this}}" href=" {{getObjectUri @index}}">
                                {{this}}
                            </a>
                        {{/each}}
                    </div>
                </td>
            </tr>

        {{/each}}
        </tbody>
    </table>
</template>

<template name="editAnnotationsSidebar">

    <div class="stepProcess"><span>Edit Annotations</span></div>

    <div class="edit-annotations">

        <table class="relationshipsTable table">

            <thead>
            <tr>
                <th>Subject</th>
                <th>Predicate</th>
                <th>Object</th>
                <th class="empty"></th>
            </tr>
            </thead>

            <tbody>

            {{#each relationship}}

                <tr data-col="{{currentCol}}">
                    <td class="subject">
                        <div class="td-content">
                            <span class="colName">{{subject.col}}</span>
                            <a target="_blank" title="{{subject.uri}}" href=" {{subject.uri}}">
                                {{subject.type}}
                            </a>
                        </div>
                        <i class="td-edit fas fa-pen"></i>
                    </td>
                    <td class="predicate">
                        <div class="td-content">

                            <a target="_blank" title="{{predicate.uri}}" href=" {{predicate.uri}}">
                                {{predicate.type}}
                            </a>
                        </div>
                        <i class="td-edit fas fa-pen"></i>
                    </td>
                    <td class="object">
                        <div class="td-content">

                            <span class="colName"> {{object.col}}</span>

                            {{#each object.type}}
                                <a target="_blank" title="{{this}}" href=" {{getObjectUri @index}}">
                                    {{this}}
                                </a>
                            {{/each}}
                        </div>
                        <i class="td-edit fas fa-pen"></i>
                    </td>
                    <td>
                        <a href="#" class="btn edit">
                            <i class="fas fa-pen-square fa-fw"></i> </a>
                    </td>
                </tr>

                <tr class="hiddenRow" data-col="{{currentCol}}">
                    <td colspan="4" class="edit-form">
                        <div class="edit-panel">
                            {{#with chosenAnnToEdit}}
                                <form autocomplete="off">

                                    {{#if or isNE isPredicate}}
                                        <div class="form-group material prefix-dbo">
                                            <input id="annotation" type="text" class="form-control"
                                                   name="annotation" value="{{type}}"
                                                   data-initial-value="{{type}}"
                                                   required
                                                   autofocus>
                                            <label for="annotation">{{colType}}</label>
                                            <span class="prefix" title="http://dbpedia.org/ontology/"
                                                  data-prefix="http://dbpedia.org/ontology/">DBO:</span>

                                            <ul class="autocomplete list-unstyled">
                                                {{#each autocomplete}}
                                                    <li>
                                                        <span class="suggestion">{{removeSchema suggestion}}</span>

                                                        <span class="text-small">(occurr.: {{occurrence}})</span>
                                                    </li>
                                                {{/each}}
                                            </ul>

                                        </div>
                                    {{/if}}

                                    {{#if isLiteral}}
                                        <div class="form-group dropdown material ">
                                            <select name="datatype" required
                                                    data-initial-value="{{type}}">
                                                <option class="first"></option>
                                                {{#each datatype}}
                                                    <option value="{{this}}" selected="{{isDBDatatype}}">{{this}}
                                                    </option>
                                                {{/each}}
                                            </select>
                                            <label for="datatype">Datatype</label>
                                        </div>
                                    {{/if}}

                                    {{#if isNE}}
                                        <div class="hints">
                                            <div class="block">
                                                <div class="bold">
                                                    <i class="far fa-lightbulb"></i>
                                                    Some suggestions
                                                </div>
                                            </div>
                                            {{#if SomeSuggestions}}

                                                {{#each SomeSuggestions}}
                                                    <div class="hint">
                                                        <div class="slide">
                                                            <a target="_blank"
                                                               title="http://dbpedia.org/ontology/{{this}}"
                                                               href="http://dbpedia.org/ontology/{{this}}">
                                                                {{this}}
                                                            </a>
                                                        </div>

                                                        <span class="use-hint">
                                                           <i title="use this" class="fas fa-check-square"></i>
                                                        </span>
                                                    </div>
                                                {{/each}}
                                            {{else}}
                                                No suggestion found.

                                            {{/if}}
                                        </div>
                                    {{/if}}

                                    <div class="hints">
                                        <div class="block">
                                            <div class="bold">
                                                <i class="far fa-lightbulb"></i>
                                                Suggestions from
                                                <a title="ABSTAT" class="underline" target="_blank"
                                                   href="http://abstat.disco.unimib.it/">ABSTAT</a>
                                            </div>
                                            <div class="complementary">
                                                {{#each icon colType}}
                                                    <span class="{{status}}">
                                                        <i class="fas {{this.icon}} fa-fw"></i>{{type}}
                                                        </span>
                                                {{/each}}
                                            </div>

                                        </div>
                                        {{#if AbstatSuggestions}}
                                            {{#each AbstatSuggestions}}
                                                <div class="hint">
                                                    <div class="slide">
                                                        <a target="_blank"
                                                           title="{{globalURL}}"
                                                           href="{{globalURL}}">
                                                            {{removeSchema globalURL}}
                                                        </a>
                                                        <span class="text-small">
                                                            (freq: {{globalFrequency}})
                                                        </span>
                                                    </div>

                                                    <span class="use-hint">
                                                           <i title="use this" class="fas fa-check-square"></i>
                                                        </span>
                                                </div>
                                            {{/each}}
                                        {{else}}
                                            {{#if isLoadingSuggestions}}
                                                <i class="fa fa-spinner fa-pulse fa-fw"></i>Loading...
                                            {{else}}
                                                {{{AbstatReturnMessage}}}
                                            {{/if}}
                                        {{/if}}
                                    </div>

                                    <div class="text-right">
                                        <button type="button" class="reset-form btn btn-secondary tiny">Reset</button>
                                        <button type="submit" class="submit-form btn btn-primary tiny"><span>Save</span>
                                        </button>
                                    </div>

                                </form>
                            {{/with}}
                        </div>
                    </td>
                </tr>

            {{/each}}

            </tbody>

        </table>

    </div>

</template>

<template name="editTableInfoSidebar">

    <div class="stepProcess"><span>Edit Table Information</span></div>
    <div class="edit-table">
        <form>
            <div class="form-group material disabled">
                <input id="date" type="text" class="form-control disabled"
                       name="date" value="{{formatDate date}}"
                       data-initial-value="{{formatDate date}}"
                       disabled>
                <label for="date">Date</label>

            </div>
            <div class="form-group material disabled">
                <input id="file-name" type="text" class="form-control"
                       name="file-name" value="{{file_name}}"
                       data-initial-value="{{file_name}}"
                       disabled>
                <label for="file-name">File Name</label>

            </div>
            <div class="form-group material ">
                <input id="annotation" type="text" class="form-control"
                       name="name" value="{{name}}"
                       data-initial-value="{{name}}">
                <label for="name">Table Name</label>

            </div>
            <div class="form-group material file {{#if unvalidfile}}error{{/if}}">

                <input type="file" id="file" name="file" accept=".json">
                <label for="file">Update JSON file</label>
                {{#if unvalidfile}}
                    {{> updatefile}}
                {{/if}}

            </div>

            <div class="text-right">
                <button type="button" class="reset-form btn btn-secondary tiny">Reset</button>
                <button type="submit" class="submit-form btn btn-primary tiny"><span>Save</span>
                </button>
            </div>
        </form>

        <button type="button" data-toggle="modal" data-target="#modal-danger"
                class="delete-table btn btn-danger tiny btn-block">Delete Table
        </button>
    </div>

</template>
