<template name="PreProcessing">

    {{#if validfile}}
        {{#with handsontablewrapper_processed}}
            <div class="preProcessing">
                {{> displayHot }}
            </div>
        {{/with}}
    {{else}}
        {{#with handsontablewrapper_notprocessed}}
            {{> displayHot }}
        {{/with}}

        {{#with processStatus}}
            {{> tableStatus}}
        {{/with}}

    {{/if}}

</template>