/*****************************************************************************/

/* PreProcessing: Style */

/*****************************************************************************/

/*.preProcessing th:nth-child(2n-1),
 .preProcessing td:nth-child(2n-1)
{
    border-left:2px solid #222d32 !important;
}

.preProcessing th:last-child,
.preProcessing td:last-child
{
    border-right:2px solid #222d32 !important;
}

.preProcessing th
{
    border-top:2px solid #222d32 !important;
}

.preProcessing tr:last-child td
{
    border-bottom:2px solid #222d32 !important;
} */

.preProcessing td:nth-child(2n-1),
.preProcessing td:nth-child(2n) {
    background-color: rgb(223, 223, 223);
}

.preProcessing td:nth-child(4n-1),
.preProcessing td:nth-child(4n) {
    background-color: white;
}

